#container {
	width: 800px;
	margin: 0 auto;
}

body {
	/* Grad3:http://grad3.ecoloniq.jp/*/
	background: -webkit-gradient(linear, left top, left bottom, color-stop(1.00, #fff), color-stop(0.71, #667ea9), color-stop(0.27, #004070));
	background: -webkit-linear-gradient(top, #004070 27%, #667ea9 71%, #fff 100%);
	background: -moz-linear-gradient(top, #004070 27%, #667ea9 71%, #fff 100%);
	background: -o-linear-gradient(top, #004070 27%, #667ea9 71%, #fff 100%);
	background: -ms-linear-gradient(top, #004070 27%, #667ea9 71%, #fff 100%);
	background: linear-gradient(to bottom, #004070 27%, #667ea9 71%, #fff 100%);

	font-family: "HiraKakuProN-W6", "ヒラギノ角ゴ ProN W6",  Meiryo, メイリオ, sans-serif
}

a {
	font-family: "HiraKakuProN-W6", "ヒラギノ角ゴ ProN W6",  Meiryo, メイリオ, sans-serif
}

header:after {
	content: "";
	display: block;
	clear: both;
}

.white_text {
	color: white;
}

#user_menu{
	padding-top: 20px;
	padding-bottom: 5px;
	float: right;
}

#header_menu {
	clear: both;
	vertical-align: middle;
}

.menu_item {
	display: table-cell;
	vertical-align: middle;
	width: 200px;
	height: 40px;
	float: left;
}

#content {
	margin-top: 30px;
}

.bxslider {
	border-radius: 4px;
}

.bxslider li{
	height: 220px;
}

.digest {
	height: 200px;
}

.digest img{
	text-align:center;
	margin-left:auto;
	margin-right:auto;
	margin-bottom: 5px;
    max-width: 180px;
    max-height: 180px;
    width: auto;
    height: auto;
}

.digest p {
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
}

#top_map_canvas {
	 width: 800px;
	 height: 400px;
	 margin-top: 30px;
	 margin-bottom: 30px;
}

#map_canvas{
	width: 500px;
	height: 300px;
	margin-top: 20px;
}

.picture {
	margin-top: 20px;
}
